h2{
    color: rgb(111, 109, 109);
    font-size: 25px;
}

.form-import-files {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;

    font-size: 13px;

    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    padding: 20px;
    color: rgb(111, 109, 109);
}
.form-import-files input[type="file"] {
    display: block;
    margin: 10px 0;
}

.acoes-form {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-importar {
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;

    background-color: #2368ad;
    color: white;
    border: none;
    border-radius: 6px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition:
        background-color 0.2s ease,
        transform 0.15s ease,
        box-shadow 0.15s ease;
}

.btn-importar:hover {
    background-color: #1d5a96;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-enviar-email {
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;

    background-color: #2368ad;
    color: white;
    border: none;
    border-radius: 6px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition:
        background-color 0.2s ease,
        transform 0.15s ease,
        box-shadow 0.15s ease;
}

.btn-enviar-email:hover {
    background-color: #1d5a96;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h3{
    color: rgb(111, 109, 109);
    font-size: 25px;
}


.tabela-importacao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabela-importacao th,
.tabela-importacao td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-importacao th {
    background-color: #f4f6f8;
    color: #444;
}

.linha-sucesso {
    background-color: #f0faf4;
}

.linha-erro {
    background-color: #fff2f2;
}

.status-ok {
    color: #2ecc71;
    margin-right: 5px;
}

.status-erro {
    color: #e74c3c;
    margin-right: 5px;
}
