* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 200px;
    background-color:#d7dce2;
    color: #e5e7eb1a;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
    box-shadow: 8px #737781;
}

.menu {
    list-style: None;
    margin-top: 20px;
}

.menu li {
    margin-bottom: 8px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #393a3d;
    text-decoration: none;
    padding: 10px;
    transition: background 0.6s;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.menu a:hover{
    background-color: #6c8ab7;
}

.content {
    padding-left: 20px;
    flex: 1;
}